<h4>Cadastro de Funcionário:</h4>
<br />
<div class="row">
    <div class="col-md-4">

        <label>Nome do Funcionário:</label>
        <input type="text" class="form-control" placeholder="Nome do Funcionário" />

        <br />
        <label>Matricula:</label>
        <input type="text" class="form-control" placeholder="Matricula" />

        <br />
        <label>Telefone:</label>
        <input type="text" class="form-control" placeholder="Telefone" />

        <br />
        <label>Data de Nascimento:</label>
        <input type="datetime" class="form-control" placeholder="" />

        <br />
        <button class="btn btn-success">
            Cadastrar Produto
        </button>
        <br />

        <div></div>
    </div>
</div>